@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
nav{
  display:flex;
  position:fixed;
  top:0;
  left:0;
  right:0;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  z-index:2;
}
.logo{
  color: #567d46;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: #567d46;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #567d46;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger{
  display: none;
  cursor: pointer;
}

#parallax-page *{
  border: 0;
  margin: 0;
  padding: 0;
}
#parallax-page div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: 'Oswald';
  width: 100%;
}

#parallax-page h1{
  font-size: 30px;
  padding: 8px 24px;
  border-radius: 16px;
}

#parallax-page h2{
  font-size: 60px;
  padding: 8px 24px;
  border-radius: 16px;
}


#parallax-page div:nth-child(1) h2{
  color: #567d46;

}


#parallax-page div:nth-child(2){
  background-image: url(IMG/ringDayCropped.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
}

#parallax-page div:nth-child(3){
  background:white;
  height: 800px
}

#parallax-page div:nth-child(4){
 
  height: 200px;
  background-image: url(IMG/ringDay.JPG);
  background-attachment: fixed;
}

.secondImage{
  background-image: url(IMG/breakaway.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  height: 1000px; 
  width: 100%; 
}


#first-div h2{
  font-size: 60px;
  padding: 8px 80px;
  border-radius: 16px;
  text-transform: uppercase;
  color: #567d46;
  
}

#first-div{
  padding-top: 200px;
  padding-bottom: 100px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: 'Oswald';
  width: 100%;
}
.container{
  position: center;
  width: 1200px;
  height: 400px;
  margin: 0px auto;
}

.container .box{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: #000000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.container .box .icons{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #567d46;
  transition: 0.5s;
  z-index: 1;
}

.container .box:hover .icons{
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.container .box .icons .fa{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
}
.container .box:hover .icons .fa{
  font-size: 40px;
}
.container .box .content{
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  height: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}
.container .box:hover .content{
  top: 100px;
  opacity: 1;
}

.container .box .content h3{
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 24px;
}
.container .box .content p{
  margin: 0;
  padding: 0;
  color: #fff;
}


.border{
  border-radius: 30px;
  border-color: #567d46;
  border-width: 4px;
  border-style: solid;
  font-family: 'Oswald';
  margin: 80px 300px;
  padding: 30px 30px;
  font-size: 20px;
  color: #567d46;
}

.image{
  height: 400px;
  width: auto;
}

.btn{
  border-radius: 9px;
  font-family: 'Oswald', sans-serif;
  color: #567d46;
  font-size: 135%;
  padding: 10px 20px;
  border: solid #567d46 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover{
  color: white;
  border-color: #567d46;
  background-color: #567d46;
}

.qimg{
  width: 900px;
  height: auto;
}

.smaller{
  font-size: 20px;
}


@media screen and (max-width: 1200px){
  .nav-links{
    width: 70%;
  }
  #service div{
    height: 800px;
  }
  #service h1{
    font-size: 20px;
    border-radius: 20px;
    padding: 20px 10px;
  }
  #service div:nth-child(3) h1{
    padding-left: 0px; 
    padding-right: 0px; 
  }

  .container{
    position: center;
    width: 800px;
    margin: 0px auto;
    align-items: center;
  }
  .container .box:hover .icons, .container .box:active .icons{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .container .box:hover .icons .fa, .container .box:active .icons .fa{
    font-size: 40px;
  }
  .container .box:hover .content, .container .box:active .content{
    top: 100px;
    opacity: 1;
  }
  .border{
    margin: 40px 100px;
    padding: 30px 30px;
    font-size: 20px;
  }
  .image{
    height: 200px;
  }
  #parallax-page div:nth-child(3) h1{
    font-size: 15px;
  }
  .qimg{
    width: 750px;
  }
}

@media screen and (max-width: 768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 84vh;
    top: 8vh;
    background-color: white;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 3;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
  #service div{
    height: 800px;
  }
  #service h1{
    font-size: 20px;
    border-radius: 20px;
    padding: 20px 10px;
  }
  #service div:nth-child(3) h1{
    padding-left: 0px; 
    padding-right: 0px; 
  }
  .container{
    position: center;
    width: 300px;
    margin: 0px auto;
    align-items: center;
  }
  
  #parallax-page div:nth-child(3) h1{
    font-size: 20px;
  }
  .border{
    margin: 20px 30px;
    padding: 30px 30px;
    font-size: 15px;
  }
  .image{
    height: 100px;
  }
  #parallax-page div:nth-child(3) h1{
    font-size: 10px;
  }
  
  #parallax-page div:nth-child(3){
    height: 400px;
  }
  
  .qimg{
    width: 400px;
  }

  .btn{
    font-size: 50%;
  }
  
  .smaller{
    font-size: 15px;
  }
  
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opactiy:0;
    transform: translateX(50px);
  }
  to{
    opacity:1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}